:root {
  --num-elements: 25;
  --main-circle: 450px;
  --small-circle: 48px;
  --degrees: calc(360deg / var(--num-elements));
  --main-radius: calc(var(--main-circle) / 2);
  --scale: 1;
  --background: #ccc;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ddd;
}

.main-circle {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: var(--main-circle);
  height: var(--main-circle);
  border-radius: 50%;
  background-color: var(--background);
}

.small-circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--small-circle);
  height: var(--small-circle);
  border-radius: 50%;
  border: 2px solid white;
  background: linear-gradient(to top right, #0643f2, #0969e5);
  top: 50%;
  left: 50%;
  margin: calc((var(--small-circle) / 2) * (-1));
  box-shadow: 0 0 3px #0015e9 inset;
}

.small-circle--active {
  background: linear-gradient(to top right, #92c6fa, #2f8cee);
  box-shadow: 0 0 3px #3999f0 inset;
  transition: transform 0.6s ease;
}

.small-circle--active2 {
  --scale: 1.1;
}

.small-circle--correct {
  background: linear-gradient(to top right, #0fc249, #0de83d);
  box-shadow: 0 0 3px #09bf39 inset;
}

.small-circle--incorrect {
  background: linear-gradient(to top right, #e70046, #e4015a);
  box-shadow: 0 0 3px #cb0237 inset;
}

.small-circle__text {
  font-size: 30px;
  font-weight: 700;
  color: white;
  text-shadow: 3px 3px #0015e9;
}

.small-circle__text--active {
  text-shadow: 3px 3px #3999f0;
}

.small-circle__text--correct {
  text-shadow: 3px 3px #09bf39;
}

.small-circle__text--incorrect {
  text-shadow: 3px 3px #cb0237;
}

.question {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  font-size: 20px;
  text-align: center;
}

.timer-result {
  width: 135px;
  position: absolute;
  top: 50%;
  right: 10%;
  display: flex;
  align-items: center;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  border: 2px solid white;
  z-index: 2;
  background: conic-gradient(white 0deg 360deg);
}

.timer__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid white;
  background: linear-gradient(to top right, #0643f2, #0969e5);
  box-shadow: 0 0 3px #0015e9 inset;
}

.timer__text {
  font-size: 35px;
  font-weight: 700;
  color: white;
  text-shadow: 3px 3px #0015e9;
}

.correct {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid white;
  background: linear-gradient(to top right, #0fc249, #0de83d);
  box-shadow: 0 0 3px #09bf39 inset;
}

.correct__text {
  font-size: 25px;
  font-weight: 700;
  color: white;
  text-shadow: 3px 3px #09bf39;
}

.results {
  position: absolute;
  top: 5%;
  right: 5%;
}

.user-input {
  position: absolute;
  right: 5%;
  bottom: 5%;
}

.pasapalabra {
  position: absolute;
  right: 5%;
  bottom: 1%;
}

/* Specific position of each small circle */
.letter-a {
  transform: rotate(calc((var(--degrees) * 0) - 90deg)) translate(var(--main-radius))
    rotate(calc(((var(--degrees) * 0) - 90deg) * (-1))) scale(var(--scale));
}
.letter-b {
  transform: rotate(calc((var(--degrees) * 1) - 90deg)) translate(var(--main-radius))
    rotate(calc(((var(--degrees) * 1) - 90deg) * (-1))) scale(var(--scale));
}
.letter-c {
  transform: rotate(calc((var(--degrees) * 2) - 90deg)) translate(var(--main-radius))
    rotate(calc(((var(--degrees) * 2) - 90deg) * (-1))) scale(var(--scale));
}
.letter-d {
  transform: rotate(calc((var(--degrees) * 3) - 90deg)) translate(var(--main-radius))
    rotate(calc(((var(--degrees) * 3) - 90deg) * (-1))) scale(var(--scale));
}
.letter-e {
  transform: rotate(calc((var(--degrees) * 4) - 90deg)) translate(var(--main-radius))
    rotate(calc(((var(--degrees) * 4) - 90deg) * (-1))) scale(var(--scale));
}
.letter-f {
  transform: rotate(calc((var(--degrees) * 5) - 90deg)) translate(var(--main-radius))
    rotate(calc(((var(--degrees) * 5) - 90deg) * (-1))) scale(var(--scale));
}
.letter-g {
  transform: rotate(calc((var(--degrees) * 6) - 90deg)) translate(var(--main-radius))
    rotate(calc(((var(--degrees) * 6) - 90deg) * (-1))) scale(var(--scale));
}
.letter-h {
  transform: rotate(calc((var(--degrees) * 7) - 90deg)) translate(var(--main-radius))
    rotate(calc(((var(--degrees) * 7) - 90deg) * (-1))) scale(var(--scale));
}
.letter-i {
  transform: rotate(calc((var(--degrees) * 8) - 90deg)) translate(var(--main-radius))
    rotate(calc(((var(--degrees) * 8) - 90deg) * (-1))) scale(var(--scale));
}
.letter-j {
  transform: rotate(calc((var(--degrees) * 9) - 90deg)) translate(var(--main-radius))
    rotate(calc(((var(--degrees) * 9) - 90deg) * (-1))) scale(var(--scale));
}
.letter-l {
  transform: rotate(calc((var(--degrees) * 10) - 90deg)) translate(var(--main-radius))
    rotate(calc(((var(--degrees) * 10) - 90deg) * (-1))) scale(var(--scale));
}
.letter-m {
  transform: rotate(calc((var(--degrees) * 11) - 90deg)) translate(var(--main-radius))
    rotate(calc(((var(--degrees) * 11) - 90deg) * (-1))) scale(var(--scale));
}
.letter-n {
  transform: rotate(calc((var(--degrees) * 12) - 90deg)) translate(var(--main-radius))
    rotate(calc(((var(--degrees) * 12) - 90deg) * (-1))) scale(var(--scale));
}
.letter-ñ {
  transform: rotate(calc((var(--degrees) * 13) - 90deg)) translate(var(--main-radius))
    rotate(calc(((var(--degrees) * 13) - 90deg) * (-1))) scale(var(--scale));
}
.letter-o {
  transform: rotate(calc((var(--degrees) * 14) - 90deg)) translate(var(--main-radius))
    rotate(calc(((var(--degrees) * 14) - 90deg) * (-1))) scale(var(--scale));
}
.letter-p {
  transform: rotate(calc((var(--degrees) * 15) - 90deg)) translate(var(--main-radius))
    rotate(calc(((var(--degrees) * 15) - 90deg) * (-1))) scale(var(--scale));
}
.letter-q {
  transform: rotate(calc((var(--degrees) * 16) - 90deg)) translate(var(--main-radius))
    rotate(calc(((var(--degrees) * 16) - 90deg) * (-1))) scale(var(--scale));
}
.letter-r {
  transform: rotate(calc((var(--degrees) * 17) - 90deg)) translate(var(--main-radius))
    rotate(calc(((var(--degrees) * 17) - 90deg) * (-1))) scale(var(--scale));
}
.letter-s {
  transform: rotate(calc((var(--degrees) * 18) - 90deg)) translate(var(--main-radius))
    rotate(calc(((var(--degrees) * 18) - 90deg) * (-1))) scale(var(--scale));
}
.letter-t {
  transform: rotate(calc((var(--degrees) * 19) - 90deg)) translate(var(--main-radius))
    rotate(calc(((var(--degrees) * 19) - 90deg) * (-1))) scale(var(--scale));
}
.letter-u {
  transform: rotate(calc((var(--degrees) * 20) - 90deg)) translate(var(--main-radius))
    rotate(calc(((var(--degrees) * 20) - 90deg) * (-1))) scale(var(--scale));
}
.letter-v {
  transform: rotate(calc((var(--degrees) * 21) - 90deg)) translate(var(--main-radius))
    rotate(calc(((var(--degrees) * 21) - 90deg) * (-1))) scale(var(--scale));
}
.letter-x {
  transform: rotate(calc((var(--degrees) * 22) - 90deg)) translate(var(--main-radius))
    rotate(calc(((var(--degrees) * 22) - 90deg) * (-1))) scale(var(--scale));
}
.letter-y {
  transform: rotate(calc((var(--degrees) * 23) - 90deg)) translate(var(--main-radius))
    rotate(calc(((var(--degrees) * 23) - 90deg) * (-1))) scale(var(--scale));
}
.letter-z {
  transform: rotate(calc((var(--degrees) * 24) - 90deg)) translate(var(--main-radius))
    rotate(calc(((var(--degrees) * 24) - 90deg) * (-1))) scale(var(--scale));
}
