:root {
  --total-width: 450px;
  --number-columns: 5;
  --square-height: calc(var(--total-width) / var(--number-columns));
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
}

.calculator {
  width: var(--total-width);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  overflow: hidden;
  border: solid 1px black;
  box-shadow: 0 0 10px #666;
}

.display {
  display: flex;
  flex-direction: column;
  height: var(--square-height);
  text-align: end;
  background-color: #2b3244;
  color: white;
  padding: 5px 8px;
}

.display__operation {
  display: flex;
  justify-content: end;
  flex: 1 1 0;
  font-size: calc(var(--total-width) / 20);
  overflow: hidden;
}

.display__result {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  flex: 2 1 0;
  font-size: calc(var(--total-width) / 11);
  overflow: hidden;
}

.row {
  display: flex;
}

.button {
  height: var(--square-height);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
  border: none;
  outline: 1px solid black;
  cursor: pointer;
  background-color: #ddd;
  font-family: inherit;
}

.button:hover {
  background-color: #ccc;
}

.button:active {
  box-shadow: 0 0 5px black inset;
}

.button--big {
  flex-grow: 2;
}

.button--orange {
  background-color: #f08e33;
}
.button--orange:hover {
  background-color: #f08017;
}

.button__text {
  font-size: calc(var(--total-width) / 18);
  pointer-events: none;
}

.button__text--white {
  color: white;
}
